:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

tbody tr {
  height: 44px;
}

tbody tr td {
  vertical-align: middle;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
