<app-base-modal title="EDITAR TIPO DE ÁREA" width="w-[500px]" (closeModal)="closeModal.emit()">
  <div class="flex flex-col gap-[15px] items-center mt-[15px]">
    <div class="flex justify-between gap-[20px] w-full">
      <div class="flex flex-col flex-1">
        <p class="text-[#64BC04]">Descripción</p>
        <input
          type="text"
          [(ngModel)]="dto.areaTypeName"
          class="border border-[#E2E2E2] rounded-lg p-[10px]"
        />
      </div>
      <div class="flex flex-col">
        <p class="text-[#64BC04]">Estado</p>
        <app-search-select
          [options]="estadoOptions"
          [value]="dto.active"
          (valueChange)="dto.active = $event"
          [allowClear]="false"
          [showLabel]="false"
        ></app-search-select>
      </div>
    </div>
    <button
      (click)="save()"
      class="w-[120px] bg-[#64BC04] py-[5px] rounded-[10px] cursor-pointer"
    >
      <p class="text-[#ffffff] text-lg">Guardar</p>
    </button>
  </div>
</app-base-modal>
